
<div *ngIf="orders.length > 0" class="row">
  <div class="col-md-4 myorder buyingorder" >
    <div  *ngFor="let order of orders" class="card order-item">
        <div class="totprice">{{order.quantity * order.price | currency:"USD"}}</div>
        <img src="assets/img/{{order.img}}.jpg" alt="Denim Jeans" style="width:100%">
        <h1>{{order.name}}</h1>
      <p class="price"><i (click)="addOrder(order)" class="fas fa-plus"></i>
        <span>{{order.quantity}}</span>
        <i (click)="decrementOrder(order)" class="fas fa-minus"></i></p>
      <button (click)="remove(order)" class="btn btn-primary mybu">Remove</button>
    </div>
  </div>
</div>

  
  <div *ngIf="orders?.length == 0" class="alert alert-danger" role="alert">
    No Orders Found
  </div>