<form class="row" [formGroup]="checkoutFormParent" (ngSubmit)="onSubmit()">
    <div class="col-md-8 myorder data" formGroupName="data">
      <label class="myla">Your Data</label>
      <div class="input-group mb-3">
        <span class="input-group-text" >@</span>
        <input formControlName="fullName" type="text" class="form-control" placeholder="Full Name" aria-label="Username" aria-describedby="basic-addon1">
      
        
      </div>
  

     <div *ngIf="fullName?.invalid && (fullName?.touched||fullName?.dirty)" ><!--|| fullName.errors.noSpace-->
      <div *ngIf="fullName?.errors?.['required'] || fullName?.errors?.['noSpace']" class="alert alert-danger" role="alert">
        Full Name Is Required
      </div>
      
      <div *ngIf="fullName?.errors?.['minlength']" class="alert alert-danger" role="alert">
        Full Name must be not less than 6 digit
      </div>
      </div>


      <div class="input-group mb-3">
        <input formControlName="email" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" >@gmail.com</span>
        
      </div>
      <!--|| email.error.noSpace-->
      <div *ngIf="email?.invalid && (email?.touched||email?.dirty)" >
        <div  *ngIf="email?.errors?.['required'] || email?.errors?.['noSpace']" class="alert alert-danger" role="alert">
          email required
        </div>
        <div  *ngIf="email?.errors?.['pattern']" class="alert alert-danger" role="alert">
          email not correct
        </div>
      </div>

      
      
      <div class="input-group mb-3">
        <span class="input-group-text">Phone Number</span>
        <input formControlName="phone" type="text" class="form-control"  aria-describedby="basic-addon3">
        
      </div>
      
      <div *ngIf="phone?.invalid && (phone?.touched||phone?.dirty)" >
        <div  *ngIf="phone?.errors?.['required'] || phone?.errors?.['noSpace'] " class="alert alert-danger" role="alert"><!--|| phone.error.noSpace-->
          phone required
        </div>
        <div  *ngIf="phone?.errors?.['pattern']" class="alert alert-danger" role="alert">
          phone not correct
        </div>
        <div  *ngIf="phone?.errors?.['minLength']" class="alert alert-danger" role="alert">
          phone must equal 11
        </div>
        <div  *ngIf="phone?.errors?.['maxLength']" class="alert alert-danger" role="alert">
          phone must equal 11
        </div>
      </div>
  
    </div>
  
  
    <div class="col-md-8 myorder data" formGroupName="fromPerson">
      <label class="myla">From : </label>
      <div class="input-group mb-3">
        <select formControlName="country" class="form-select" (change)="getData('from')">
          <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
          
        </select>
        <label class="input-group-text myin" for="inputGroupSelect02">Country</label>
      </div>
      <div class="input-group mb-3">
        <select formControlName="state" class="form-select" id="inputGroupSelect02">
          <option *ngFor="let state of statesFrom" >{{state.name}}</option>
          
        </select>
        <label class="input-group-text myin" for="inputGroupSelect02">State</label>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Zip Code</span>
        <input formControlName="zipCode" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
  
    </div>
    <div class="col-md-8 myorder data">
      <div class="form-check form-switch">
        <input (change)="putSameData($event)" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
        <label class="form-check-label smi" for="flexSwitchCheckChecked">Similar</label>
      </div>
  
    </div>
  
    <div class="col-md-8 myorder data" formGroupName="toPerson" >
      <label class="myla">To :</label>
      <div class="input-group mb-3"  >
        <select formControlName="country"  class="form-select" (change)="getData('to')">
          <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
        </select>
        <label class="input-group-text myin" for="inputGroupSelect02">Country</label>
      </div>
      <div class="input-group mb-3">
        <select formControlName="state" class="form-select" >
          <option *ngFor="let state of statesTo" >{{state.name}}</option>
        </select>
        <label class="input-group-text myin" >State</label>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Zip Code</span>
        <input formControlName="zipCode" type="text" class="form-control" aria-describedby="basic-addon3">
      </div>
  
    </div>
    <div class="col-md-8 myorder data" formGroupName="creditCard">
        <label class="myla">Card Type :</label>
        <div class="input-group mb-3">
          <select formControlName="type" class="form-select">
            <option value="1">Visa</option>
            <option value="2">Card</option>
          </select>
          <label class="input-group-text myin" for="inputGroupSelect02">Type</label>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" >Card Number</span>
          <input formControlName="cardNumber" type="text" class="form-control" aria-describedby="basic-addon3">
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text myin" for="inputGroupSelect02">Code</label>
          <input formControlName="code" type="text" class="form-control" aria-describedby="basic-addon3">

        </div>

      </div>
      <div class="check-out">
        <div class="size">Total Order : {{numOfOrders}}</div>
        <div class="totalprice">Total Price : {{totalPrice}}</div>
        <button  type="submit" class="btn btn-primary done">Check Out</button>
      </div>
    </form>