<div class="row">
  <div class="col-md-4 myorder" *ngFor="let order of orders">
    <div class="card">
      <a routerLink="/order/{{order.id}}">
      <img src="assets/img/{{order.img}}.jpg" alt="Denim Jeans" style="width:100%">
    </a>
    <a routerLink="/order/{{order.id}}" >
      <h1>{{order.name}}</h1>
    </a>
      <p class="price">{{order.price | currency:"USD"}}</p>
     <!-- <p class="dis">Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>-->
      <button class="btn btn-primary" (click)="addToCart(order)">Add to Cart</button>
    </div>
  </div>
  
</div>
<div class="col-md-9 pag" style="padding-left: 50%">
  <ngb-pagination 
    [(page)]="page" 
    [pageSize]="pageSize"
    [collectionSize]="orderSize" 
    (pageChange)="done()"
    [maxSize]="3"
    [boundaryLinks]="true"
   >
    </ngb-pagination>

  </div>

  <div class="sel" style="padding-right: 50%">
    <span class="mr-2">Page Size</span>
    <select (change)="pageLength($event)">
      <option>2</option>
      <option>5</option>
      <option selected="true">10</option>
      <option>20</option>
      <option>50</option>
    </select>
  </div>